@font-face {
    font-family: DTMono;
    src: url('DeterminationMono.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('DeterminationMono.ttf') format('truetype')
}
  
body {
    font-family: DTMono, sans-serif;
    letter-spacing:1px;

    background-color: black;
    color: white;

    margin:0;
    padding:0;
}

p{
    font-size: 20px;
}

main{
    padding:20px;
}

button, #follow{
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 0;
}

button:hover, #follow:hover{
    font-weight: 900;
    color: black;
    background-color: white;
}

/* nav */
nav {
    width: 100%;
    background-color: black;
    border: 3px solid white;
    z-index: 1;
}

nav .svgicon {
    filter: invert(86%) sepia(98%) saturate(7497%) hue-rotate(357deg) brightness(103%) contrast(101%);
}

nav .svgicon:hover{
    filter: invert(15%) sepia(52%) saturate(7437%) hue-rotate(356deg) brightness(103%) contrast(121%);
}

section .svgicon{
    filter: invert(94%) sepia(16%) saturate(4373%) hue-rotate(2deg) brightness(116%) contrast(114%);
    height: 20px;
    margin: -4px 0;
    padding-right: 5px;
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
}

ul li{
    padding:10px 20px;
    font-size: 30px;
}

/* anchor */

a{
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: red;
}

a img{
    height:30px;
    margin:-30px 0 -5px 0;
}

/* headings */

h1{
    
    padding: 15px 30px;
    margin: 25px auto 0 auto;

    font-size: 40px;

    width:fit-content;
}

h2 {
    font-size: 30px;
}

/* flexbox */

.flexbox{
    display: flex;
}

.flexbox section{
    align-items: center;
}

.animeflex{
    justify-content: center;
    text-align: center;
}

.mewmewflex{
    align-items: center;
    justify-content: center;
}

/* general classes */
.halfwidth{
    width: 50%;
}

.halfwidthspecial{
    width: 45%;
}

.thirdwidth{
    width:30%
}

.center{
    text-align: center;
}

/* header */

.header{
    text-align:center;
}

/* footer */

.footer{
    padding: 0 15px;
    text-align: center;
}

.footer p{
    padding:10px;
}

/* bio */
section{
    padding: 20px;
    margin: 20px;
    border: 5px solid white;
}

/* memorabilia */

.memorabilia img{
    height:150px;
}

/* projects */

.projects{
    justify-content: center;
    align-items: center;
}

.projects ol{
    list-style-position: inside;
    justify-content: center;
}

.metta{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.projects span{
    font-size:30px;
}

/* contact */
form{
    justify-content: center;
    align-items: center;
}

.formcontent{
    font-size: 30px;
    padding: 20px;

}

.textinpt{
    height: 30px;
    width: 500px;
    margin: -20px 150px 80px 150px;
}

.formbtn{
    font-size: 30px;
    font-family: DTMono;
    border-radius: 10px;
    margin: 20px;
    padding: 5px 15px;
}

.formbtn:hover{
    border-radius: 10px;
    padding: 5px 15px;
}

.mail img{
    margin: -75px 0 20px 90%;
    height: 150px;
}

.inputs label{
    display: block;
}

.thanks p{
    margin: 10px 100px;
    font-size: 25px;
}

/* undernet */
.pfp img{
    height: 150px;
    margin: 20px;
}

#follow{
    font-size: 20px;
    font-family: DTMono;
    border-radius: 10px;
    padding: 5px 15px;
}

.posts{
    margin: 20px 20%;
}

.shareinfo{
    margin: 0 -20px -20px -20px;
    color: yellow;
    padding:20px;
}

.shares{
    margin-top:22.5px;
    margin-bottom: -21px;
    margin-left: auto;
    padding-left: 10px;
}

#heartimg{
    height: 50px;
    margin: -20px ;
}