@font-face {
    font-family: DTMono;
    src: url('DeterminationMono.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
         url('DeterminationMono.ttf') format('truetype')
}
  
body {
    font-family: DTMono, sans-serif;
    letter-spacing:1px;

    background-color: black;
    color: white;

    margin:0;
    padding:0;
}

p{
    font-size: 20px;
}

main{
    padding:20px;
}

.button{
    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 0;

    font-size: 20px;
    font-family: DTMono;
    border-radius: 10px;
    padding: 5px 15px;
}

.button:hover{
    font-weight: 900;
    color: black;
    background-color: white;
}

/* nav */
nav {
    width: 100%;
    background-color: black;
    border: 3px solid white;
    z-index: 1;
}

nav .svgicon {
    filter: invert(86%) sepia(98%) saturate(7497%) hue-rotate(357deg) brightness(103%) contrast(101%);
}

nav .svgicon:hover{
    filter: invert(15%) sepia(52%) saturate(7437%) hue-rotate(356deg) brightness(103%) contrast(121%);
}

section .svgicon{
    filter: invert(94%) sepia(16%) saturate(4373%) hue-rotate(2deg) brightness(116%) contrast(114%);
    height: 20px;
    margin: -4px 0;
    padding-right: 5px;
}

ul {
    list-style-type: none;
    flex-wrap: wrap;
}

ul li{
    padding:10px 20px;
    font-size: 30px;
}

/* anchor */

a{
    color: yellow;
    text-decoration: none;
}

a:hover {
    color: red;
}

a img{
    height:30px;
    margin:-30px 0 -5px 0;
}

/* headings */

h1{
    
    padding: 15px 30px;
    margin: 25px auto 0 auto;

    font-size: 40px;

    width:fit-content;
}

h2 {
    font-size: 30px;
}

/* flexbox */

.flexbox{
    display: flex;
}

.flexbox section{
    align-items: center;
}

.animeflex{
    justify-content: center;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.mewmewflex{
    align-items: center;
    justify-content: center;
}

/* general classes */
.halfwidthspecial{
    width: 45%;
}

.center{
    text-align: center;
}

/* header */

.header{
    text-align:center;
}

/* footer */

.footer{
    padding: 0 15px;
    text-align: center;
    color: gray;
    gap: 20px;
}

/* bio */
section{
    padding: 20px;
    margin: 20px auto 20px;
    border: 5px solid white;
    width: 80%;
}

/* memorabilia */

.memorabilia img{
    height:150px;
}

/* projects */

.projects{
    justify-content: center;
    align-items: center;
}

.projects ol{
    list-style-position: inside;
    justify-content: center;
}

.metta{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.metta img{
    margin-bottom: -50px;
}

#posters{
    width: 540px;
    height: 192x;
    margin-bottom: 0;
}

#toys{
    flex-wrap: nowrap;
    width: 220px;
    height: 206px;
    margin-bottom: 0;
}

.projects span{
    font-size:30px;
}

/* contact */
form{
    justify-content: center;
    align-items: center;
}

.formcontent{
    font-size: 30px;
    padding: 20px;

}

.textinpt{
    height: 30px;
    width: 500px;
    margin: -20px 150px 80px 150px;
}

.formbtn{
    font-size: 30px;
    font-family: DTMono;
    border-radius: 10px;
    margin: 20px;
    padding: 5px 15px;

    color: white;
    background-color: black;
    border: 3px solid white;
    border-radius: 10px;
}

.formbtn:hover{
    color: black;
    background-color: white;
    padding: 5px 15px;
}

.mail img{
    margin: 0 0 20px 90%;
    height: 150px;
}

.submitform{
    padding: 20px;
}

.inputs label{
    display: block;
}

.thanks p{
    margin: 10px 100px;
    font-size: 25px;
}

/* undernet */
.pfp img{
    height: 150px;
    margin: 20px;
    border-radius: 100%;
}

#follow{
    font-size: 20px;
    font-family: DTMono;
    border-radius: 10px;
    padding: 5px 15px;
}

.post{
    width: 50%;
}

.post h3{
    margin-top: 31px;
    font-size: 25px;
}

.post em{
    color: gray;
}

.bio{
    object-fit:contain;
}

.shareinfo{
    margin: 0 -20px -20px -20px;
    color: yellow;
    padding:20px;
}

.shares{
    margin-top:22.5px;
    margin-bottom: -21px;
    margin-left: auto;
    padding-left: 10px;
}

#heartimg{
    height: 50px;
    margin: -20px ;
}

/* media queries */

@media screen and (max-width: 700px) {
    body{
        padding: 20px;
        overflow-x: hidden;
    }

    h1, h2, p{
        width: 100%;
    }
    .flexbox{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    section img{
        width: 100%;
        object-fit:contain;
    }
    .bio{
        object-fit:contain;
    }

    .mail img{
        margin: 0 0 50px 75%;
        height: 150px;
        width: auto;
    }
    .textinpt{
        margin-left: 0;
        width: 100%;
    }
    .svgicon{
        width: 20px;
    }
    .shareinfo{
        flex-wrap: wrap-reverse;
    }
    .post, .bio{
        gap: 20px;
        width: 80%;
    }
    .pfp {
        width: 150px;
        padding: 0;
        margin-left: -150;
    }
    .animeflex{
        justify-content: center;
        text-align: center;
        margin-left: -100px;
        width: 150%;
    }
    .shares{
        margin-bottom:0;
    }

    .footer{
        gap: 0;
    }
}